body{
    /*background-image: url("../images/sunset.jpeg");
    background-size: cover;*/
    background: rgb(138,58,185);
    background: radial-gradient(circle, rgba(138,58,185,1) 0%, rgba(80,208,233,1) 51%, rgba(188,42,141,1) 95%);
}
header{
    background-color: #fc0377;
    color:white;
    font-size: 100px;
    text-align: center;
}
header h5{
    font-style: italic;
}
nav{
    background-color: #fc0377;
    text-align: center;
    font-size: 50px;
    padding: 25px 25px 25px 25px;
}
nav li{
    list-style-type: none;
    display: inline;
    background-color: white;
}
nav a:link{
    color: black;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}
nav a:visited{
    color: black;
}
nav a:hover{
    background-color:#f7a8ce;
}
.picAE{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
}
